@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}
header{
    min-height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   

}
 nav{
    background-color: #EEE4E1;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;

}
 nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
 nav li{
    height: 150px;
}
 nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 1;
    bottom: 60px;
    transition: 0.3s;

}
nav a:hover{
    color: brown;
}
 nav a:hover:after{
    width: 50%;

}
nav ul li:first-child a:hover:after {
    width: 0;
}
 

nav ul li img {
    height: auto;
    width: 150px;
    margin-right: 10px; 
}

 nav li:first-child{
    margin-right: auto;
}
 nav .icons a{
    font-size: 2.5rem;
    color: black;
    margin-left: 1.5rem;
}
 nav .icons a:hover{
    background-color: #ccc;
}

 nav ul li:not(:first-child) {
    position: relative;
}

 nav ul li:not(:first-child) a {
    position: relative;
}

 nav ul li:not(:first-child) a::before {
    content: ' ';
    position: relative;
    top: 0;
    left: -25px; 
    height: 50%;
    width: 1px; 
    background-color: #ccc;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color:  #EEE4E1;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    padding: 10px 20px;
}
.sidebar a {
    width: 100%;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.menu-button{
    display: none;
}
.cart-icon,
.user-icon {
    margin-top: auto; 
}

.cart-icon i,
.user-icon i {
    margin-right: 10px; 
}
.search-form {
    position: absolute;
    top: 200px; 
    left: 50%;
    transform: translateX(-50%);
    /* border-bottom: 1px solid #000; */
}
.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    
}
.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}
.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif ;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 500px;
}
.search-input::placeholder,
.search-icon{
    color: rgba(0, 0, 0, 0.5);
}


img {
    width: 50px;
    height: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main-wrap {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin-top: -600px;
  
    
}


.main-wrap .product {
    width: 90%;
    max-width: 1000px;
    display: flex;
}

.main-wrap .product .image-gallery {
    flex-basis: 43%;
    position: relative;
    
    
}

.main-wrap .product .product-details {
    flex-basis: 75%;
    background: #fff;
}

.main-wrap .product .product-details .details {
    margin-bottom: 20px;
}

.main-wrap .product .product-details .details h2,
.main-wrap .product .product-details .details .price-container h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 10px;
    color: #011627;
}

.main-wrap .product .product-details .details .price-container,
.main-wrap .product .product-details .details .another-box {
    display: flex;
    align-items: center;
}

.main-wrap .product .product-details .details .another-box {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.main-wrap .product .product-details .details p {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    color: #011627;
}

.main-wrap .product .product-details .quantity {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.main-wrap .product .product-details .quantity .select-quantity h3 {
    width: 100px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #011627;
}

.main-wrap .product .product-details .quantity .select-quantity input {
    background: #e8e8e8;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    border-radius: 12px;
    width: 50px;
}

.main-wrap .product .product-details .quantity .sub-btn {
    width: 60%;
    padding: 0 30px;
    margin-left: -125px;
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
}

.main-wrap .product .product-details .quantity .sub-btn .submit {
    width: 100%;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    background: #B2967D;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    transition: .4s linear;
}
.main-wrap .product .product-details .quantity .sub-btn .wishlist {
    width: 100%;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    background: #B2967D;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
    transition: .4s linear;
   
}

.customer-reviews {
    display: flex;
    justify-content: space-around;
}

.customer-reviews .left {
    margin-left: 5%;
    flex-basis: 30%;
}

.customer-reviews .left h3 {
    margin-left: -50%;
    font-size: 20px;
}

.customer-reviews .star-ratings {
    margin-left: -70%;
    margin-top: 10px;
}

.customer-reviews .star-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.customer-reviews .stars {
    margin-left: 10%;
    font-size: 18px;
    color: black;
}

.customer-reviews .count {
    margin-left: 5px;
}

footer {
    background-color: #EEE4E1;
    width: 100%;
    bottom: 0;
    /* position: fixed; */
    padding: 0px 0;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    display: flex;
    justify-content: center;
}

.footerNav {
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-basis: 30%;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.footerNav li {
    list-style: none;
    position: relative; /* Added */
}

.footerNav li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 80%; /* Adjust as needed */
    background-color: #000;
}

.footerNav li a {
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #EEE4E1;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: black;
}


